.card {
  border: 1px solid var(--black);
  margin: 2rem 0;
  text-align: center;
  position: relative;
  width: 30rem;
  padding: 1em;
}

.card__button-answer {
  background: var(--secondary);
  color: var(--white);
  border: none;
  font-size: 1rem;
  padding: 1rem;
}

.card__button-answer:hover {
  opacity: 0.75;
  cursor: pointer;
}

.card__answer {
  font-style: italic;
  display: none;
}

.card__answer--active {
  display: block;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card__tag-list-item {
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}

.card__bookmark {
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--secondary);
  color: var(--white);
}

.card__bookmark:hover {
  cursor: pointer;
}

.card__bookmark--active {
  color: var(--black);
}

.card__bookmark-icon {
  fill: currentcolor;
  width: 2rem;
}
